body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color:
        #333333;
}

.topnav a {
    float: left;
    color: #1affa3;
    text-align: center;
    padding: 14px 16px;
}

.topnav a:hover {
    background-color: dimgrey;
    color: black;
}

.topnav a.active {
    background-color: yellow;
    color: black;

}